*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* =============== GLOBAL VARIABLES =============== */
    --primaryColor: #B8E1FF;
    --contentColor: #1C0221;
    --headingColor: #456990;
    --subHeadingColor: #82ABA1;
    --supportingColor1: #94FBAB;
    --supportingColor2: #A9FFF7;
    --supportingColor3: #6A5B6E;
    --backgroundColor: #E1F2FE;

    --headingFontFamily: 'Monoton', cursive;
    --subHeadingFontFamily: 'Akaya Kanadaka', cursive;
    --contentFontFamily: 'Righteous', cursive;

    --headingSize: 2rem;
    --subHeadingSize: 3rem;
    --contentSize: 1rem;

    --transitionTimings: all 500ms linear;
}
i{
    background: var(--supportingColor1);
    font-size: var(--subHeadingSize);
    color: var(--contentColor);
}
h1{
    color: var(--headingColor);
    font-size: var(--headingSize);
    font-family: var(--headingFontFamily);
    text-transform: uppercase;
    max-width: 30rem;
    margin: 1rem;
    word-spacing: 8px;
}
h2{
    color: var(--subHeadingColor);
    font-size: var(--subHeadingSize);
    font-family: var(--subHeadingFontFamily);
    text-transform: capitalize;
    max-width: 30rem;
    margin: 1rem;
}
h3{
    color: var(--supportingColor3);
    text-transform: capitalize;
    font-family: var(--contentFontFamily);
    max-width: 30rem;
    margin: 1rem;
}
h4{
    color: var(--contentColor);
    text-transform: capitalize;
    font-family: var(--contentFontFamily);
    max-width: 30rem;
    margin: 1rem;
}
p{
    color: var(--contentColor);
    font-size: var(--contentSize);
    font-family: var(--contentFontFamily);
    text-align: justify;
    max-width: 40rem;
    margin: 1rem;
}
img{
    width: 100%;
    object-fit: cover;
    max-height: 400px;
    display: block;
}
span{
    font-family: var(--headingFontFamily);
    color: #1F2041;
    text-transform: uppercase;
    font-size: var(--headingSize)
}
.buttons{
    max-width: 7rem;
    padding: 0.5rem;
    width: fit-content;
    background: var(--headingColor);
    color: white;
    margin: 0 auto;
    text-transform: capitalize;
}
a{
    text-decoration: none;
    color: var(--contentColor);
    text-transform: capitalize;
}
