/*================================== CREDITS ========================== 
Photo by <a href="https://unsplash.com/@ammiengo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ammie Ngo</a> on <a href="https://unsplash.com/s/photos/tour?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
*/

header{
    background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
                url(../images/banner\ Image.jpg);
    height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header p{
    color: whitesmoke;
    max-width: 30rem;
    text-align: center;
}
header h1{
    color: var(--supportingColor2);
    text-align: center;
    font-size: 2.5rem;
}
#exploreTours:hover{
    color: var(--contentColor);
    background: #82ABA1;
    transition: var(--transitionTimings);
}